@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/bugaki');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@font-face {
  font-family: 'basicallysans_serif';
  src: url('Webseite/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('Webseite/fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-size: 1.7vw;
  font-weight: 700;
}

button {
  font-size: 1.5vw;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#4CAF50; 
  text-decoration:none; 
  cursor:pointer;  
}


body {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.7vw;
  font-weight: 700;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding-top: 15px ;
  padding-left: 15px ;
  padding-right: 15px;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.invisible {
  visibility: hidden;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#headhead {
  font-family: 'Bugaki', sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 4vw;
  margin-bottom: 0;
  padding-left: 10px;
  color: #000000;
}

.heading_container h2 {
  font-family: 'Bugaki', sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 4vw;
  margin-bottom: 0;
  padding-left: 10px;
  color: #286A3B;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}


.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container.heading_left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: start;
}

.heading_container.heading_right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: end;
}

.header_section {
  z-index: 999;
  padding: 15px 0;
  top: 0px;
  width: 100%;
  background-color: #f2fff2e0;
  position: fixed;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.custom_nav-container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.1vw;
  font-weight: 600;
}

/*.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}*/

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

#About {
  scroll-margin-top: 100px;
}

#Roadmap {
  scroll-margin-top: 100px;
}

#Rewards {
  scroll-margin-top: 100px;
}

#Tokenomics {
  scroll-margin-top: 100px;
}

#Whitepaper {
  scroll-margin-top: 100px;
}

/*end header section*/


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

/* slider section */
.presale_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.presale_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presale_section .detail-box {
  color: #4CAF50;
}

.presale_section .detail-box h1 {
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #000000;
}

.presale_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.presale_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.presale_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.presale_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.presale_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.presale_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #000000;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.presale_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.presale_section .img-box {
  margin: 45px 0;
}

.presale_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

#presale_box {
  background: #f5f3f3;
  color: #4CAF50;
}

/*
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}*/

#logo {
  width: 80px; /* or any custom size */
  height: auto; 
  object-fit: contain;
}

.presale_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presale_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.presale_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.text_container {
  background-color: #f2fff2da ;
  color: #000000;
  border-radius: 40px;
  border-style: solid;
  border-color: #286A3B;
  border-width: 0.2em 0.2em;
  padding: 20px;
  -webkit-box-shadow:0px 0px 105px 10px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 105px 10px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 105px 10px rgba(255, 255, 255, 0.6);
}

#everything {
  height: 100%;
  background-image: url('images/corny_bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: auto 101%;
  margin-bottom: 0%;
}

.custom-shape-divider-bottom-1725490237 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725490237 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 343px;
}

.custom-shape-divider-bottom-1725490237 .shape-fill {
  fill: #FFFFFF;
}

.text_new h4{
  font-size: 1.8vw;
  font-weight: 700;
}

#coin1{
  left: 30%;
}

.what_section {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
}

.what_container {
  padding-bottom: 10px;
  padding-top: 3px;
  margin-left: 8%;
  width: 50%;
}

.what_section .text_container {
  background-color: #f2fff2da;
  color: #000000;
  border-radius: 40px;
  border-style: solid;
  border-color: #286A3B;
  border-width: 0.2em 0.2em;
}

.what_section .heading_container {
  margin-bottom: 45px;
}

#coin2{
  left: 74%;
}

.fast-scroll{
  position: relative;
  height: 80px;
  width: auto;
  border-radius:5px;
}

#coin3{
  left: -20%;
}

.row_phase{
  margin: 25px;
}

.row_phase .detail-box {
  padding: 13px;
}
/*------------------------------------------*/


.object-in-3d { 
  position: absolute; 
  top: 80%;
  left: 30%;
  height: 80px;
  width: auto;
  border-radius:5px;
  background: #d3d3d3;}

.float-center { 
  position: absolute; 
  top: 50%; }

/*------------------------------------------*/

.button {
  display: block;
  background-color: #f2fff2da;
  border-radius: 10px 10px 10px 10px;
  border-color: #286A3B;
  border-width: 0.35rem;
  border-style: solid;
  color: #000000;
  padding: 0.5em 3em;
  -webkit-box-shadow:0px 0px 105px 10px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 105px 10px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 105px 10px rgba(255, 255, 255, 0.6);
}

.underline:hover {
  text-decoration: underline;
  text-decoration-color: #286A3B;
}

.below-button{
  float: right;
  margin-right: 50px;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.button:active{
  border-color: #000000;
  box-shadow: none;
}

.full_container {
  width: 100%;
  background-color:#286A3B;
  height: max-content;
}

#About {
  width: 100%;
  background-color: #286A3B;
}

.custom-shape-divider-top-1725457014 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1725457014 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 159px;
}

.custom-shape-divider-top-1725457014 .shape-fill {
  fill: #FFFFFF;
}

.about_container {
  padding-top: 3px;
  margin-right: 8%;
  width: 60%;
  float: right;
  margin-bottom: 0%;
}

.custom-shape-divider-top-1725406847 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1725406847 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 389px;
}

.custom-shape-divider-top-1725406847 .shape-fill {
  fill: #286A3B;
}

.roadmap_section {
  clear: both;
}

.custom-shape-divider-bottom-1725489578 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725489578 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 247px;
}

.custom-shape-divider-bottom-1725489578 .shape-fill {
  fill: #286A3B;
}

#Rewards {
  float: right;
  width: 100%;
  background-color: #286A3B;
  padding-bottom: 10px;
  padding-top: 3px;
}

.rewards_container {
  padding-bottom: 10px;
  padding-top: 3px;
  margin-left: 8%;
  width: 40%;
  margin-bottom: 50px;
}

.rewards_section button {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
}

/* Buy section */

.custom-shape-divider-top-1725407082 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1725407082 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 344px;
}

.custom-shape-divider-top-1725407082 .shape-fill {
  fill: #286A3B;
}

.buy_section {
  clear: both;
  margin-top: 30px;
  padding-bottom: 2%;
}

.buy_section .text_container{
  width: 100%;
}

.buy_section .detail-box{
  padding: 13px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23286A3B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  width: 30%;
  height: 30%;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23286A3B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   width: 30%;
   height: 30%;
 }

/* Tokenomics section */

.custom-shape-divider-top-1725534423 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1725534423 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 205px;
}

.custom-shape-divider-top-1725534423 .shape-fill {
  fill: #FFFFFF;
}

.tokenomics_section {
  width: 100%;
  background-color: #286A3B;
}

.tokenomics_image_con {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#tokenomics_image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*.container_boxes .box {
  margin-bottom: 10px;
}*/

/* Whitepaper section */

.white_paper_section {
  padding-bottom: 2%;
}

.custom-shape-divider-top-1725534820 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1725534820 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 253px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1725534820 .shape-fill {
  fill: #286A3B;
}

.white_paper_section button{
  margin: auto;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
}

/* Contact section */

.custom-shape-divider-top-1725575234 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1725575234 svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 147px;
}

.custom-shape-divider-top-1725575234 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1725576028 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1725576028 svg {
  position: relative;
  display: block;
  width: calc(177% + 1.3px);
  height: 147px;
}

.custom-shape-divider-bottom-1725576028 .shape-fill {
  fill: #FFFFFF;
}

.contact_container {
  width: 100%;
  background-color: #286A3B;
  padding-bottom: 10px;
  padding-top: 3px;
}

.contact_section {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.contact_section .container .button_container button{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.terms_section {
  margin-top: 0%;
  background-color: #ffffff;
}

.terms_section .container{
  text-align: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.terms_section .container .col-md-3 {
  margin: auto;
  width: fit-content;
}


.terms_section .container .col-md-3 .box img{
  height: 100%; 
  width: 100%; 
  display:block;
}
.terms_section .container .col-md-3 .box{
  margin: auto;
  width: fit-content;
  display: inline-block;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #4CAF50;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */